#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar li {
    float: left;
    font-family: sans-serif;
  }
  
  #navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  #navbar li a:hover {
    background-color: #111;
  }
  
  
  .aktuell {
    background-color: #04AA6D;
    color: white;
  }


  #projekt {
    display: flex;
    flex-wrap: nowrap;
  }
  #projekt ul {
    list-style-type: none; 
    margin: 0;
    padding: 20px;
  }

  #projekt li {
    float: left;
    font-family: sans-serif;
    
  }

  #projekt a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    position: absolute;
    text-decoration: none;
  }

  p {
    font-size: 25px;
    font-family: sans-serif;
  }

  h2 {
    font-family: sans-serif;
  }